<!DOCTYPE html>
<html>
  <head>
    <title>BookMemories | <%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include('../partials/header') %>

    <main class="container">
      <%- include('../partials/messages') %> <%- body %>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
