<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BookMemories | Share Your Reading Journey</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="nav-brand">
        <h1>BookMemories</h1>
      </div>
      <div class="search-bar">
        <input type="text" placeholder="Search for books or reviews..." />
        <button type="submit"><i class="fas fa-search"></i>Search</button>
      </div>
      <div class="nav-auth">
        <% if (user) { %>
        <div class="user-info">
          <div class="user-dropdown">
            <img
              src="<%= user.picture %>"
              alt="Profile Photo"
              class="user-photo"
            />
            <span class="username"><%= user.username %></span>
            <div class="dropdown-content">
              <a href="/profile">Profile</a>
              <a href="/logout">Logout</a>
            </div>
          </div>
        </div>
        <% } else { %>
        <a href="/login" class="btn btn-login">Login</a>
        <a href="/register" class="btn btn-register">Register</a>
        <% } %>
      </div>
    </nav>

    <main>
      <section class="hero">
        <h2>Share Your Reading Journey</h2>
        <p>
          Connect with readers, share your favorite moments, and discover new
          books
        </p>
        <div class="hero-buttons">
          <a href="/protected/books/add" class="btn btn-primary"
            >Share Your Book</a
          >
          <a href="/books" class="btn btn-secondary">Explore Reviews</a>
        </div>
      </section>

      <section class="recent-reviews">
        <h3>Recent Book Reviews</h3>
        <div class="reviews-grid">
          <% books.forEach(book => { %>
          <div class="book-review-card">
            <div class="book-info">
              <h4><%= book.book_title %></h4>
              <p class="author">by <%= book.book_author %></p>
              <p class="author">by <%= book.book_comment %></p>
            </div>
            <div class="review-preview">
              <p><%= book.book_rating %>...</p>
            </div>
            <div class="card-footer">
              <span class="reader">Posted by <%= book.username %></span>
              <a href="/books/23" class="read-more">Read More</a>
            </div>
          </div>
          <% }) %>
        </div>
      </section>
    </main>
  </body>
</html>
